<ion-content>
  <div (click)="backClicked()" style="position: fixed;">
    <ion-icon color="light" class="close" slot="end" (click)="backClicked()" name="close-outline"></ion-icon>
  
 </div>
 <div style="width: 100%;" id="divid">

</div>
<br>
<ion-grid fixed>
  <ion-row>
    <ion-col >
      <ion-button *ngIf="stopped" (click)="play()" expand="block" fill="clear" shape="round">
        play
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button *ngIf="!stopped" (click)="stop()" expand="block" fill="clear" shape="round">
        stop
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
